.Video-Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 38px;


}

.Video-Container {
  display: grid;
  grid-template-rows: auto 1fr;
  min-width: 264px;

}

.Thumbnail {
  width: 100%;
}

.Video-Details-Row {
  display: grid;
  grid-template-columns: 48px 1fr;
  padding-top: 8px;

}

.Channel-Picture {
  border-radius: 24px;
  width: 36px;
}

.Video-Title,
.Video-Link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 8px;
  text-decoration: none;
  color: black;

}

.Video-Creator,
.Video-Views,
.Video-Creator-Link {
  font-size: 12px;
  color: rgb(96 96 96);
  line-height: 1.5;
  text-decoration: none;
}

.Video-Duration {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.836);
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-right: 5px;
  right: 3px;
  bottom: 11px;

}